    <div class="rounded-lg shadow dark:border dark:bg-neutral-800 dark:border-neutral-700" style="width:800px">
        <div class="p-6 space-y-4 md:space-y-6 sm:p-8 flex justify-center items-center w-full h-full ">
            <div class="w-1/4 pl-4 ">
                    <ol class="relative text-neutral-500 border-l border-neutral-200 dark:border-neutral-700 dark:text-neutral-400">                  
                        <li class="mb-10 ml-6">            
                            <span class="absolute flex items-center justify-center w-8 h-8 bg-blue-200 rounded-full -left-4 ring-4 ring-white dark:ring-neutral-900 dark:bg-blue-900">
                                <svg class="w-4 h-4 text-blue-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                                <circle cx="10" cy="10" r="8" />
                                </svg>
                            </span>
                            <h3 class="font-medium leading-tight text-white">Personal Info</h3>
                            <p class="text-sm">Step details here</p>
                        </li>
                        <li class="mb-10 ml-6">
                            <span class="absolute flex items-center justify-center w-8 h-8 bg-neutral-100 rounded-full -left-4 ring-4 ring-white dark:ring-neutral-900 dark:bg-neutral-700">
                                <svg class="w-3.5 h-3.5 text-neutral-500 dark:text-neutral-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 16">
                                    <path d="M18 0H2a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2ZM6.5 3a2.5 2.5 0 1 1 0 5 2.5 2.5 0 0 1 0-5ZM3.014 13.021l.157-.625A3.427 3.427 0 0 1 6.5 9.571a3.426 3.426 0 0 1 3.322 2.805l.159.622-6.967.023ZM16 12h-3a1 1 0 0 1 0-2h3a1 1 0 0 1 0 2Zm0-3h-3a1 1 0 1 1 0-2h3a1 1 0 1 1 0 2Zm0-3h-3a1 1 0 1 1 0-2h3a1 1 0 1 1 0 2Z"/>
                                </svg>
                            </span>
                            <h3 class="font-medium leading-tight">Account Info</h3>
                            <p class="text-sm">Step details here</p>
                        </li>
                        <li class="mb-10 ml-6">
                            <span class="absolute flex items-center justify-center w-8 h-8 bg-neutral-100 rounded-full -left-4 ring-4 ring-white dark:ring-neutral-900 dark:bg-neutral-700">
                                <svg class="w-3.5 h-3.5 text-neutral-500 dark:text-neutral-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 18 20">
                                    <path d="M16 1h-3.278A1.992 1.992 0 0 0 11 0H7a1.993 1.993 0 0 0-1.722 1H2a2 2 0 0 0-2 2v15a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2V3a2 2 0 0 0-2-2ZM7 2h4v3H7V2Zm5.7 8.289-3.975 3.857a1 1 0 0 1-1.393 0L5.3 12.182a1.002 1.002 0 1 1 1.4-1.436l1.328 1.289 3.28-3.181a1 1 0 1 1 1.392 1.435Z"/>
                                </svg>
                            </span>
                            <h3 class="font-medium leading-tight">Confirmation</h3>
                            <p class="text-sm">Step details here</p>
                        </li>
                        <li class="ml-6">
                            <span class="absolute flex items-center justify-center w-8 h-8 bg-neutral-100 rounded-full -left-4 ring-4 ring-white dark:ring-neutral-900 dark:bg-neutral-700">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="w-8 h-8" viewBox="0 0 20 20">
                                    <path d="M15 9a3 3 0 0 0-2.65 1.58A3.004 3.004 0 0 0 10 11a3 3 0 0 0-2.65-1.42A3.004 3.004 0 0 0 4 11a3 3 0 0 0-2.65-1.42A3.004 3.004 0 0 0 0 11a3 3 0 0 0 2.65 1.42A3.004 3.004 0 0 0 4 11a3 3 0 0 0 2.65 1.42A3.004 3.004 0 0 0 10 11a3 3 0 0 0 2.65 1.58A3.004 3.004 0 0 0 16 11a3 3 0 0 0 2.65-1.42A3.004 3.004 0 0 0 20 11a3 3 0 0 0-2.65-1.42A3.004 3.004 0 0 0 16 11zm-2 3a5 5 0 0 1-4.95 4.995A5 5 0 0 1 4 12a5 5 0 0 1 9.95-.005A5 5 0 0 1 13 12zm-1 2.879V16a1 1 0 0 0 2 0v-1.121a3 3 0 0 0 1.276-.41 1 1 0 1 0-1.136-1.664A1.993 1.993 0 0 0 12 12a1.993 1.993 0 0 0-.14.007 1 1 0 0 0-.115 1.664A3 3 0 0 0 12 14.88z"/>
                                </svg>
                            </span>
                            <h3 class="font-medium leading-tight">Social</h3>
                            <p class="text-sm">Step details here</p>
                        </li>
                    </ol>
            </div>
            <div class="p-4 w-3/4 space-y-4 md:space-y-6 sm:p-4" id="step-1">
                <!-- Form -->
                    <div class="w-full h-full" id="personalInfo">
                        <h1 class="mb-10 text-xl font-bold leading-tight tracking-tight text-neutral-900 md:text-2xl dark:text-white" style="letter-spacing:2px">
                        Personal Information
                    </h1>
                    <form class=" space-y-4 md:space-y-6" action="#">
                        <div>
                            <label for="fname" class="block mb-2 text-sm font-medium text-neutral-900 dark:text-white">Your Full Name</label>
                            <input type="text" name="fname" id="fname" class="bg-neutral-50 border border-neutral-300 text-neutral-900 sm:text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-neutral-700 dark:border-neutral-600 dark:placeholder-neutral-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="abcd" required="">
                        </div>
                        <div>
                            <label for="password" class="block mb-2 text-sm font-medium text-neutral-900 dark:text-white">Password</label>
                            <input type="password" name="password" id="password" placeholder="••••••••" class="bg-neutral-50 border border-neutral-300 text-neutral-900 sm:text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-neutral-700 dark:border-neutral-600 dark:placeholder-neutral-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required="">
                        </div>
                        <div>
                            <label for="confirm-password" class="block mb-2 text-sm font-medium text-neutral-900 dark:text-white">Confirm password</label>
                            <input type="confirm-password" name="confirm-password" id="confirm-password" placeholder="••••••••" class="bg-neutral-50 border border-neutral-300 text-neutral-900 sm:text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-neutral-700 dark:border-neutral-600 dark:placeholder-neutral-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required="">
                        </div>
                    </form>
                </div>              
            </div>
            <div class="p-4 w-3/4 space-y-4 md:space-y-6 sm:p-4 hidden" id="step-2">
                <!-- Form -->
                    <div class="w-full h-full" id="personalInfo">
                        <h1 class="mb-10 text-xl font-bold leading-tight tracking-tight text-neutral-900 md:text-2xl dark:text-white" style="letter-spacing:2px">
                        Account Information
                    </h1>
                    <form class=" space-y-4 md:space-y-6" action="#">
                        <div>
                            <label for="fname" class="block mb-2 text-sm font-medium text-neutral-900 dark:text-white">Your Full Name</label>
                            <input type="text" name="fname" id="fname" class="bg-neutral-50 border border-neutral-300 text-neutral-900 sm:text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-neutral-700 dark:border-neutral-600 dark:placeholder-neutral-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="abcd" required="">
                        </div>
                        <div>
                            <label for="password" class="block mb-2 text-sm font-medium text-neutral-900 dark:text-white">Password</label>
                            <input type="password" name="password" id="password" placeholder="••••••••" class="bg-neutral-50 border border-neutral-300 text-neutral-900 sm:text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-neutral-700 dark:border-neutral-600 dark:placeholder-neutral-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required="">
                        </div>
                        <div>
                            <label for="confirm-password" class="block mb-2 text-sm font-medium text-neutral-900 dark:text-white">Confirm password</label>
                            <input type="confirm-password" name="confirm-password" id="confirm-password" placeholder="••••••••" class="bg-neutral-50 border border-neutral-300 text-neutral-900 sm:text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-neutral-700 dark:border-neutral-600 dark:placeholder-neutral-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required="">
                        </div>
                    </form>
                </div>              
            </div>
            <div class="p-4 w-3/4 space-y-4 md:space-y-6 sm:p-4 hidden" id="step-4">
                <!-- Form -->
                    <div class="w-full h-full" id="personalInfo">
                        <h1 class="mb-10 text-xl font-bold leading-tight tracking-tight text-neutral-900 md:text-2xl dark:text-white" style="letter-spacing:2px">
                        Social
                    </h1>
                    <form class=" space-y-4 md:space-y-6" action="#">
                        <div>
                            <label for="fname" class="block mb-2 text-sm font-medium text-neutral-900 dark:text-white">Your Full Name</label>
                            <input type="text" name="fname" id="fname" class="bg-neutral-50 border border-neutral-300 text-neutral-900 sm:text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-neutral-700 dark:border-neutral-600 dark:placeholder-neutral-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="abcd" required="">
                        </div>
                        <div>
                            <label for="password" class="block mb-2 text-sm font-medium text-neutral-900 dark:text-white">Password</label>
                            <input type="password" name="password" id="password" placeholder="••••••••" class="bg-neutral-50 border border-neutral-300 text-neutral-900 sm:text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-neutral-700 dark:border-neutral-600 dark:placeholder-neutral-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required="">
                        </div>
                        <div>
                            <label for="confirm-password" class="block mb-2 text-sm font-medium text-neutral-900 dark:text-white">Confirm password</label>
                            <input type="confirm-password" name="confirm-password" id="confirm-password" placeholder="••••••••" class="bg-neutral-50 border border-neutral-300 text-neutral-900 sm:text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-neutral-700 dark:border-neutral-600 dark:placeholder-neutral-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required="">
                        </div>
                    </form>
                </div>              
            </div>
            <div class="p-4 w-3/4 space-y-4 md:space-y-6 sm:p-4 hidden" id="step-3">
                <!-- Form -->
                    <div class="w-full h-full" id="personalInfo">
                        <h1 class="mb-10 text-xl font-bold leading-tight tracking-tight text-neutral-900 md:text-2xl dark:text-white" style="letter-spacing:2px">
                        Confirmation
                    </h1>
                    <form class=" space-y-4 md:space-y-6" action="#">
                        
                    </form>
                </div>              
            </div>
        </div>
        <div class="flex justify-between px-11 pb-5">
            <button type="submit"id="prvStep"  class="w-fit text-white text-md  bg-gray-600 hover:bg-gray-700 focus:ring-4 focus:outline-none focus:ring-gray-300 font-medium rounded-lg text-sm px-10 py-2.5 text-center dark:bg-gray-600 dark:hover:bg-gray-700 dark:focus:ring-gray-800">Previous</button>
            <button type="submit" id="nextStep" class="w-fit text-white text-md  bg-blue-600 hover:bg-blue-700 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-10 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Next</button>
        </div>
    </div>
</body>
<script>

    //Register Form Step Handler
    let currStep = 1;
const steps = [1, 2, 3,4];

function updateButtons() {
    if (currStep === 4) {
        $("#nextStep").html("Submit");
        $("#nextStep").attr('disabled', 'disabled');
    } else if (currStep === 1) {
        $("#prvStep").attr('disabled', 'disabled');
        $("#nextStep").html("Save & Next");
        $("#nextStep").removeAttr('disabled');
    } else {
        $("#prvStep").removeAttr('disabled');
        $("#nextStep").html("Save & Next");
        $("#nextStep").removeAttr('disabled');
    }
}

$("#nextStep").click(() => {
    $(`#step-${currStep}`).addClass("hidden");
    currStep++;
    $(`#step-${currStep}`).removeClass("hidden");
    updateButtons();
});

$("#prvStep").click(() => {
    $(`#step-${currStep}`).addClass("hidden");
    currStep--;
    $(`#step-${currStep}`).removeClass("hidden");
    updateButtons();
});

// Initial setup
    updateButtons();

</script>