<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>LIVE STORE</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
    />
    <!-- Custom Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />

    <!-- StyleSheet-->
    <link
      href="https://fonts.googleapis.com/css2?family=Bree+Serif&family=IM+Fell+DW+Pica&family=Tilt+Prism&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="./View/assets/stylesheet/customCss.css"
    />

    <!-- SweetAlert-->
    <link
      href="https://cdn.jsdelivr.net/npm/@sweetalert2/theme-dark@4/dark.css"
      rel="stylesheet"
    />
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.js"></script>

    <!-- JQuery-->
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>

    <!-- Cookie Handler -->
    <script src="./View/assets/js/Auth/COOKIE/setCookie.js"></script>
    <script src="./View/assets/js/Auth/COOKIE/getCookie.js"></script>

    <!--Custom Js-->
    <script src="./View/assets/js/main.js"></script>

    <!-- === Forgot Password Handler === -->
    <script src="./View/assets/js/Auth/ForgotPassword/Handlers/sendOTP.js"></script>
    <script src="./View/assets/js/Auth/ForgotPassword/Handlers/VerifyOTP.js"></script>
    <script src="./View/assets/js/Auth/ForgotPassword/Handlers/resetPassword.js"></script>

    <!-- === Forgot Password Form === -->
    <script src="./View/assets/js/Auth/ForgotPassword/Forms/ChangePass.js"></script>
    <script src="./View/assets/js/Auth/ForgotPassword/Forms/Verification.js"></script>
    <script src="./View/assets/js/Auth/ForgotPassword/Forms/ForagotPass.js"></script>

    <!-- === Register === -->
    <script src="./View/assets/js/Auth/register.js"></script>

    <!-- === Login === -->
    <script src="./View/assets/js/Auth/Login/Handler.js"></script>
    <script src="./View/assets/js/Auth/Login/Form.js"></script>
  </head>

  <body class="h-screen w-screen bg-neutral-200 overflow-hidden">
    <!-- Container  -->
    <main class="h-screen w-screen bg-neutral-800" style="display: flex">
      <!-- Sidenav -->
      <nav
        class="flex flex-col justify-between items-center bg-neutral-900 w-16 h-full p-2 pb-3"
      >
        <div class="w-full">
          <img
            src="https://cdn-icons-png.flaticon.com/512/10490/10490234.png"
            alt=""
          />
        </div>
        <footer
          class="w-full justify-center flex cursor-pointer"
          onclick="showLoginModal()"
        >
          <i
            class="fa-regular fa-circle-user text-white hover:text-slate-300"
            style="font-size: 34px"
          ></i>
        </footer>
      </nav>
      <!-- Main Section -->
      <section class="w-full">
        <header class="flex justify-between w-11/12 px-4 py-2 fixed">
          <label
            for=""
            style="font-family: 'Tilt Prism', cursive"
            class="text-white text-2xl"
            >LIVE STORE</label
          >
        </header>
        <!-- Search box-->
        <div class="p-4 pt-16 flex justify-center">
          <div
            class="w-3/6 h-14 rounded-3xl pl-4"
            style="
              box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.6), inset 1px 1px 1px gray;
            "
          >
            <input
              type=""
              name=""
              value=""
              placeholder="search.."
              class="w-11/12 bg-transparent outline-0 h-full text-white text-lg"
              spellcheck="flase"
            />
            <i
              class="fa-solid fa-search text-slate-300 text-lg m-1 hover:text-white cursor-pointer"
            ></i>
          </div>
        </div>
        <!-- Filter Tags -->
        <div
          class="filter p-4 pt-1 flex justify-center text-slate-300"
          style="overflow-y: auto; width: 95vw"
        ></div>
        <!-- Apps Container -->
        <div
          class="flex-1 px-10 flex-1 w-full"
          style="overflow-y: auto; width: 98vw; height: 560px"
        >
          <!--Most Rated..-->
          <div class="w-full flex flex-col">
            <div class="app-bar-title w-full pb-3">
              <span class="separator"></span>
            </div>
            <div id="mostRated" class="flex w-full overflow-x-scroll"></div>
          </div>
          <!--other-->
          <div class="w-full">
            <div class="app-bar-title w-full">
              <h2>Game</h2>
              <span class="separator"></span>
            </div>
            <div id="Games" class="flex w-full overflow-x-scroll"></div>
          </div>
        </div>
      </section>
    </main>

    <!--ready Document-->
    <script>
      const URL = "http://localhost/TERMWORK/BackEnd/APIS/Auth/";
      const ApiEndPoint = {
        Base: "http://localhost/TERMWORK/BackEnd/APIS/",
        Login: "Auth/Login.php",
        Register: "Auth/Register.php",
      };
      //handle app click
      const showApp = (app) => {
        alert("wrpo");
      };

      $(document).ready(() => {
        LoadApps();
      });
    </script>
  </body>
</html>
