<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>LIVE STORE</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
    />
    <!-- Custom Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />

    <!-- StyleSheet-->
    <link
      href="https://fonts.googleapis.com/css2?family=Bree+Serif&family=IM+Fell+DW+Pica&family=Tilt+Prism&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="./View/assets/stylesheet/customCss.css"
    />

    <!-- SweetAlert-->
    <link
      href="https://cdn.jsdelivr.net/npm/@sweetalert2/theme-dark@4/dark.css"
      rel="stylesheet"
    />
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.js"></script>

    <!-- JQuery-->
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>

    <!--Custom Js-->
    <!--<script src="./View/assets/js/main.js"></script>-->
    <script src="./View/assets/js/Auth/register.js"></script>
    <!--<script src="./View/assets/js/Auth/forgotPass.js"></script>-->
    <!--<script src="./View/assets/js/Auth/verify.js"></script>-->
    <!--<script src="./View/assets/js/Auth/login.js"></script>-->
  </head>

  <body class="h-screen w-screen bg-neutral-200 overflow-hidden">
    <!-- Container  -->
    <main class="h-screen w-screen bg-neutral-800" style="display: flex">
      <!-- Sidenav -->
      <nav
        class="flex flex-col justify-between items-center bg-neutral-900 w-16 h-full p-2 pb-3"
      >
        <div class="w-full">
          <img
            src="https://cdn-icons-png.flaticon.com/512/10490/10490234.png"
            alt=""
          />
        </div>
        <footer
          class="w-full justify-center flex cursor-pointer"
          onclick="showLoginModal()"
        >
          <i
            class="fa-regular fa-circle-user text-white hover:text-slate-300"
            style="font-size: 34px"
          ></i>
        </footer>
      </nav>
      <!-- Main Section -->
      <section class="w-full">
        <header class="flex justify-between w-11/12 px-4 py-2 fixed">
          <label
            for=""
            style="font-family: 'Tilt Prism', cursive"
            class="text-white text-2xl"
            >LIVE STORE</label
          >
        </header>
        <!-- Search box-->
        <div class="p-4 pt-16 flex justify-center">
          <div
            class="w-3/6 h-14 rounded-3xl pl-4"
            style="
              box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.6), inset 1px 1px 1px gray;
            "
          >
            <input
              type=""
              name=""
              value=""
              placeholder="search.."
              class="w-11/12 bg-transparent outline-0 h-full text-white text-lg"
              spellcheck="flase"
            />
            <i
              class="fa-solid fa-search text-slate-300 text-lg m-1 hover:text-white cursor-pointer"
            ></i>
          </div>
        </div>
        <!-- Filter Tags -->
        <div
          class="filter p-4 pt-1 flex justify-center text-slate-300"
          style="overflow-y: auto; width: 95vw"
        ></div>
        <!-- Apps Container -->
        <div
          class="flex-1 px-10 flex-1 w-full"
          style="overflow-y: auto; width: 98vw; height: 560px"
        >
          <!--Most Rated..-->
          <div class="w-full flex flex-col">
            <div class="app-bar-title w-full pb-3">
              <span class="separator"></span>
            </div>
            <div id="mostRated" class="flex w-full overflow-x-scroll"></div>
          </div>
          <!--other-->
          <div class="w-full">
            <div class="app-bar-title w-full">
              <h2>Game</h2>
              <span class="separator"></span>
            </div>
            <div id="Games" class="flex w-full overflow-x-scroll"></div>
          </div>
        </div>
      </section>
    </main>

    <!--Load Data-->
    <script>
      const LoadApps = () => {
        //Filter Tags
        let tags = [
          "android",
          "ios",
          "Web",
          "React",
          "React Native",
          "C",
          "C++",
          "Java",
          "Mern",
          "Marn",
          "UI/UX",
          "Lib",
          "API",
          "Shell Script",
        ];
        var $activeDiv = `<div
                  style="
                    box-shadow: 1px 1px rgba(0, 0, 0, 0.3);
                    background: rgba(0, 0, 0, 0.5);
                    min-width: max-content;
                    max-height: max-content;
                  "
                  class="px-3 py-1 rounded-full m-1 flex justify-center items-center"
                >
                  <p>All</p>
                </div>`;
        $(".filter").append($activeDiv);
        tags.forEach((tag) => {
          var $tagDiv = `<div
                      style="
                          box-shadow: 1px 1px rgba(0, 0, 0, 0.3);
                          background: rgba(255, 255, 255, 0.05);
                          min-width: max-content;
                          max-height: max-content;
                      "
                      class="px-3 py-1 rounded-full m-1 flex justify-center items-center"
                  >
                      <p>${tag}</p>
                  </div>`;
          $(".filter").append($tagDiv);
        });

        //load App
        var appData = {
          mostRated: [
            {
              id: 101,
              Thumbnail: "https://wallpapercave.com/wp/wp3144352.jpg",
              appName: "Free Fire",
              DownloadLink: "",
              rating: "5.0",
            },
            {
              id: 102,
              Thumbnail:
                "https://e1.pxfuel.com/desktop-wallpaper/979/291/desktop-wallpaper-landscape-castle-clash.jpg",
              appName: "Clash of Empire",
              DownloadLink: "",
              rating: "4.5",
            },
            {
              id: 103,
              Thumbnail:
                "https://wallpaperbat.com/img/221640-pure-farming-2018-ps4-review.jpg",
              appName: "Farming Simulation - 2023",
              DownloadLink: "",
              rating: "5.0",
            },
            {
              id: 104,
              Thumbnail:
                "https://e0.pxfuel.com/wallpapers/6/701/desktop-wallpaper-blog-angry-bird-2.jpg",
              appName: "Angry Birds",
              DownloadLink: "",
              rating: "3.0",
            },
          ],
          Games: [
            {
              id: 105,
              Thumbnail:
                "https://cdn6.aptoide.com/imgs/a/0/7/a07457f9d059715922bd0baa696456d4_icon.png",
              appName: "Free Fire",
              DownloadLink: "",
              rating: "2.0",
            },
            {
              id: 106,
              Thumbnail:
                "https://i.pinimg.com/736x/e5/c1/59/e5c159ebbf010fd33f396d5759ef17ba.jpg",
              appName: "Free Fire",
              DownloadLink: "",
              rating: "5.0",
            },
          ],
        };

        appData.mostRated.forEach((app) => {
          var $appDiv = `
                <div
                      style="min-width: 460px"
                      class="TopDownload overflow-hidden bg-white border border-neutral-200 rounded-lg shadow dark:bg-neutral-800 dark:border-neutral-700 h-72"
                      onclick="showApp('${app}')"
                      >
                      <img
                        class="rounded-lg h-full w-full"
                        src=${app.Thumbnail}
                        alt=""
                      />
                      <!--Bottom Section-->
                      <div
                        class="flex justify-between p-2 w-full h-20 items-center"
                        style="
                          position: relative;
                          background: linear-gradient(
                            rgba(0, 0, 0, 0.2),
                            rgba(0, 0, 0, 0.8),
                            rgba(0, 0, 0, 1)
                          );
                          bottom: 25%;
                          backdrop-filter: blur(20);
                        "
                      >
                        <div>
                          <label for="" class="text-white text-lg">${app.appName}</label>
                          <div class="flex items-center mt-2 mb-5">
                            <svg
                              class="w-4 h-4 text-yellow-300 mr-1"
                              aria-hidden="true"
                              xmlns="http://www.w3.org/2000/svg"
                              fill="currentColor"
                              viewBox="0 0 22 20"
                            >
                              <path
                                d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"
                              />
                            </svg>
                            <svg
                              class="w-4 h-4 text-yellow-300 mr-1"
                              aria-hidden="true"
                              xmlns="http://www.w3.org/2000/svg"
                              fill="currentColor"
                              viewBox="0 0 22 20"
                            >
                              <path
                                d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"
                              />
                            </svg>
                            <svg
                              class="w-4 h-4 text-yellow-300 mr-1"
                              aria-hidden="true"
                              xmlns="http://www.w3.org/2000/svg"
                              fill="currentColor"
                              viewBox="0 0 22 20"
                            >
                              <path
                                d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"
                              />
                            </svg>
                            <svg
                              class="w-4 h-4 text-yellow-300 mr-1"
                              aria-hidden="true"
                              xmlns="http://www.w3.org/2000/svg"
                              fill="currentColor"
                              viewBox="0 0 22 20"
                            >
                              <path
                                d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"
                              />ś
                            </svg>
                            <svg
                              class="w-4 h-4 text-gray-200 dark:text-gray-600"
                              aria-hidden="true"
                              xmlns="http://www.w3.org/2000/svg"
                              fill="currentColor"
                              viewBox="0 0 22 20"
                            >
                              <path
                                d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"
                              />
                            </svg>
                            <span
                              class="bg-blue-100 text-blue-800 text-xs font-semibold mr-2 px-2.5 py-0.5 rounded dark:bg-blue-200 dark:text-blue-800 ml-3"
                              >${app.rating}</span
                            >
                          </div>
                        </div>
                        <a
                          href="${app.DownloadLink}"
                          class="px-3 bg-blue-500 h-10 rounded-lg text-white flex justify-center items-center"
                          >Download<i
                            class="fa fa-download ml-2"
                            aria-hidden="true"
                          ></i>
                        </a>
                      </div>
                    </div>
                `;
          $("#mostRated").append($appDiv);
        });

        //Other
        var app = `<div
                  class="app-container text-slate-100 p-2 mx-1 pt-3 flex flex-col justify-center items-center w-30 cursor-pointer"
                >
                  <img
                    class="w-20 border border-neutral-200 rounded-2xl shadow dark:bg-neutral-800 dark:border-neutral-700"
                    src=${appData.Games[1].Thumbnail}
                    alt=""
                  />
                  <p class="text-center w-24 flex-wrap h-12 pt-2">${appData.Games[1].appName}</p>
                </div>`;
        $("#Games").append(app);
        for (let i = 0; i < 20; i++) {
          var app = `<div
                class="app-container text-slate-100 p-2 mx-1 pt-3 flex flex-col justify-center items-center w-30"
              >
                <img
                  class="w-20 border border-neutral-200 rounded-2xl shadow dark:bg-neutral-800 dark:border-neutral-700"
                  src=${appData.Games[0].Thumbnail}
                  alt=""
                />
                <p class="text-center w-24 flex-wrap h-12 pt-2">${appData.Games[0].appName}</p>
              </div>`;
          $("#Games").append(app);
        }
      };
    </script>
    <script>
      const URL = "http://localhost/TERMWORK/BackEnd/APIS/Auth/Register/";

      /* === Change Password Form === */
      const ChangePass = () => {
        Swal.fire({
          html: `
          <div class=" bg-white rounded-lg shadow dark:border dark:bg-neutral-800 dark:border-neutral-700 p-4" style="width:450px">
          <div class="w-full h-full flex justify-center items-center flex-col" id="personalInfo">
            <h1
              class="mb-10 text-xl font-bold leading-tight tracking-tight text-neutral-900 md:text-2xl dark:text-white text-center"
              style="letter-spacing: 2px"
            >
              Forgot Password
            </h1>
            <form class="space-y-4 md:space-y-6 w-96" action="#"  >
              <div>
                <label for="email" class="block mb-2 text-sm font-medium text-neutral-900 dark:text-white">Your email</label>
                <input type="email" name="email" id="email" class="bg-neutral-50 border border-neutral-300 text-neutral-900 sm:text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-neutral-700 dark:border-neutral-600 dark:placeholder-neutral-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="name@company.com" required="">
              </div>
              <div>
                <label for="password" class="block mb-2 text-sm font-medium text-neutral-900 dark:text-white">Your email</label>
                <input type="password" name="password" id="password" class="bg-neutral-50 border border-neutral-300 text-neutral-900 sm:text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-neutral-700 dark:border-neutral-600 dark:placeholder-neutral-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="******" required="">
              </div>
              <div>
                <label for="cpassword" class="block mb-2 text-sm font-medium text-neutral-900 dark:text-white">Confirm Password</label>
                <input type="password" name="cpassword" id="cpassword" class="bg-neutral-50 border border-neutral-300 text-neutral-900 sm:text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-neutral-700 dark:border-neutral-600 dark:placeholder-neutral-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="******" required="">
              </div>
              <button type="submit" class="w-26 float-right text-white bg-blue-600 hover:bg-blue-700 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-3 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Change Password</button>
            </form>
          </div>
        </div>
      </div>
              `,
          padding: 0,
          width: "450px",
          showConfirmButton: false,
        });
      };
      /* === Verify OTP ===*/
      const verify = (event) => {
        event.preventDefault();
        const otpInput = event.target.otp.value;
        console.log(otpInput);

        $.ajax({
          url: `${URL}/PHP/Verify_OTP.php`,
          type: "POST",
          data: { UserOTP: otpInput },
          dataType: "json",
          success: function (data) {
            console.log(data);
            ChangePass();
          },
          error: function (xhr, textStatus, errorThrown) {
            console.error("AJAX request failed:", textStatus, errorThrown);
          },
        });
      };

      /* === OTP fill Form === */
      const Verification = () => {
        Swal.fire({
          html: `
          <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
          <div class="w-full h-full" id="personalInfo">
            <h1
              class="mb-10 text-xl font-bold leading-tight tracking-tight text-neutral-900 md:text-2xl dark:text-white text-center"
              style="letter-spacing: 2px"
            >
              Forgot Password
            </h1>
            <h3
              class="font-bold mb-4 md:text-md dark:text-slate-100 tracking-widest text-center"
            >
              Enter Verification Code
            </h3>
            <h2 class="md:text-xs dark:text-slate-300 tracking-widest italic text-center w-full leading-7"
              >we will send One Time Password on <br>
              <strong class="text-center leading-7">abcx@ffdfd.csc</strong>,<br />
              to proceed fill the otp</h2>
            <form class="space-y-4 md:space-y-6" action="#" onsubmit="verify(event)">
              <div class="h-full">
                <div class="w-full flex pt-12">
                  <div
                    style="width: 50px; height: 50px"
                    class="otp-box1 bg-neutral-50 border border-neutral-300 text-neutral-900 sm:text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-neutral-700 dark:border-neutral-600 dark:placeholder-neutral-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 m-2 flex justify-center items-center"
                  >
                    <span class="otp-box text-2xl">0</span>
                  </div>
                  <div
                    style="width: 50px; height: 50px"
                    class="otp-box2 bg-neutral-50 border border-neutral-300 text-neutral-900 sm:text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-neutral-700 dark:border-neutral-600 dark:placeholder-neutral-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 m-2 flex justify-center items-center"
                  >
                    <span class="otp-box text-2xl">0</span>
                  </div>
                  <div
                    style="width: 50px; height: 50px"
                    class="otp-box3 bg-neutral-50 border border-neutral-300 text-neutral-900 sm:text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-neutral-700 dark:border-neutral-600 dark:placeholder-neutral-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 m-2 flex justify-center items-center"
                  >
                    <span class="otp-box text-2xl">0</span>
                  </div>
                  <div
                    style="width: 50px; height: 50px"
                    class="otp-box4 bg-neutral-50 border border-neutral-300 text-neutral-900 sm:text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-neutral-700 dark:border-neutral-600 dark:placeholder-neutral-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 m-2 flex justify-center items-center"
                  >
                    <span class="otp-box text-2xl">0</span>
                  </div>
                  <div
                    style="width: 50px; height: 50px"
                    class="otp-box5 bg-neutral-50 border border-neutral-300 text-neutral-900 sm:text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-neutral-700 dark:border-neutral-600 dark:placeholder-neutral-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 m-2 flex justify-center items-center"
                  >
                    <span class="otp-box text-2xl">0</span>
                  </div>
                  <div
                    style="width: 50px; height: 50px"
                    class="otp-box6 bg-neutral-50 border border-neutral-300 text-neutral-900 sm:text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-neutral-700 dark:border-neutral-600 dark:placeholder-neutral-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 m-2 flex justify-center items-center"
                  >
                    <span class="otp-box text-2xl">0</span>
                  </div>
                </div>
                <input
                  type="numbers"
                  name="otp"
                  id="otp"
                  placeholder="rr"
                  class="w-full relative bottom-14 p-3 opacity-0"
                  oninput="fillOTPBoxes()"
                  maxlength="6"
                  required=""
                />
              </div>
              <button type="submit" class="w-full text-white bg-blue-600 hover:bg-blue-700 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-3 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Forgot Password</button>
            </form>
          </div>
        </div>
      </div>
            `,
          padding: 0,
          width: "450px",
          showConfirmButton: false,
        });
      };

      /* === Handle Send OTP === */
      const sendOTP = async (event) => {
        event.preventDefault();
        const email = event.target.email.value;
        $.ajax({
          url: `${URL}/PHP/SendOTP.php`,
          type: "POST",
          data: { EMAIL: email },
          dataType: "json",
          success: function (data) {
            if (data.status === "success") {
              console.log(data);
              Verification();
            }
          },
          error: function (xhr, textStatus, errorThrown) {
            console.error("AJAX request failed:", textStatus, errorThrown);
          },
        });
      };
      /* === Send OTP === */
      const ForgotPass = () => {
        Swal.fire({
          html: `
          <div class=" bg-white rounded-lg shadow dark:border dark:bg-neutral-800 dark:border-neutral-700 p-4" style="width:450px">
          <div class="w-full h-full flex justify-center items-center flex-col" id="personalInfo">
            <h1
              class="mb-10 text-xl font-bold leading-tight tracking-tight text-neutral-900 md:text-2xl dark:text-white text-center"
              style="letter-spacing: 2px"
            >
              Forgot Password
            </h1>
            <form class="space-y-4 md:space-y-6 w-96" action="#" onsubmit="sendOTP(event)" >
              <div>
                <label for="email" class="block mb-2 text-sm font-medium text-neutral-900 dark:text-white">Your email</label>
                <input type="email" name="email" id="email" class="bg-neutral-50 border border-neutral-300 text-neutral-900 sm:text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-neutral-700 dark:border-neutral-600 dark:placeholder-neutral-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="name@company.com" required="">
              </div>
              <button type="submit" class="w-26 float-right text-white bg-blue-600 hover:bg-blue-700 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-3 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Send OTP</button>
            </form>
          </div>
        </div>
      </div>
              `,
          padding: 0,
          width: "450px",
          showConfirmButton: false,
        });
      };
      /* === Login === */
      const showLoginModal = () => {
        currStep = 1;
        Swal.fire({
          html: `
                        <div class=" bg-white rounded-lg shadow dark:border dark:bg-neutral-800 dark:border-neutral-700" style="width:450px">
                              <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
                                  <h1 class="text-xl font-bold leading-tight tracking-tight text-neutral-900 md:text-2xl dark:text-white" style="letter-spacing:1px">
                                      Sign in to your account
                                  </h1>
                                  <form class="space-y-4 md:space-y-6" method="post" onsubmit="Login(event)">
                                      <div>
                                          <label for="email" class="block mb-2 text-sm font-medium text-neutral-900 dark:text-white">Your email</label>
                                          <input type="email" name="email" id="email" class="bg-neutral-50 border border-neutral-300 text-neutral-900 sm:text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-neutral-700 dark:border-neutral-600 dark:placeholder-neutral-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="name@company.com" required="">
                                      </div>
                                      <div>
                                          <label for="password" class="block mb-2 text-sm font-medium text-neutral-900 dark:text-white">Password</label>
                                          <input type="password" name="password" id="password" placeholder="••••••••" class="bg-neutral-50 border border-neutral-300 text-neutral-900 sm:text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-neutral-700 dark:border-neutral-600 dark:placeholder-neutral-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required="">
                                      </div>
                                      <div class="flex items-center justify-between">
                                          <div class="flex items-start">
                                              <div class="flex items-center h-5">
                                                <input id="remember" aria-describedby="remember" type="checkbox" class="w-4 h-4 border border-neutral-300 rounded bg-neutral-50 focus:ring-3 focus:ring-blue-300 dark:bg-neutral-700 dark:border-neutral-600 dark:focus:ring-blue-600 dark:ring-offset-neutral-800" required="">
                                              </div>
                                              <div class="ml-3 text-sm">
                                                <label for="remember" class="text-neutral-500 dark:text-neutral-300">Remember me</label>
                                              </div>
                                          </div>
                                          <p class="text-sm font-medium text-blue-600 hover:underline dark:text-blue-500" onclick="ForgotPass()">Forgot password?</p>
                                      </div>
                                      <button type="submit" class="w-full text-white bg-blue-600 hover:bg-blue-700 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Sign in</button>
                                      <p class="text-sm font-light text-gray-500 dark:text-gray-400">
                                          Don’t have an account yet? <a href="#" class="font-medium text-blue-600 hover:underline dark:text-blue-500" onclick="frmSignUp()">Sign up</a>
                                      </p>
                                  </form>
                              </div>
                          </div>
                        `,
          padding: 0,
          width: "450px",
          showConfirmButton: false,
        });
      };
    </script>

    <!--ready Document-->
    <script>
      const ApiEndPoint = {
        Base: "http://localhost/TERMWORK/BackEnd/APIS/",
        Login: "Auth/Login.php",
        Register: "Auth/Register.php",
      };
      //handle app click
      const showApp = (app) => {
        alert("wrpo");
      };

      $(document).ready(() => {
        LoadApps();
      });

      //login Logic
      const Login = (event) => {
        event.preventDefault();
        const formData = {
          email: $("#email").val(),
          password: $("#password").val(),
        };
        $.ajax({
          type: "POST",
          url: `${ApiEndPoint.Base}/${ApiEndPoint.Login}`,
          data: JSON.stringify(formData),
          contentType: "application/json; charset=utf-8",
          dataType: "json",
          success: (response) => {
            if (response.success) {
              Swal.fire({
                icon: "success",
                title: "Login successful",
                showConfirmButton: false,
                timer: 1500,
              }).then(() => {
                window.location.href = "./View/Developer/dashboard.html";
              });
            } else {
              Swal.fire({
                icon: "error",
                title: "Login failed",
                text: "Please check your credentials.",
              });
            }
          },
          error: (error) => {
            console.error("An error occurred:", error);
            Swal.fire({
              icon: "error",
              title: "Error",
              text: "An error occurred while processing your request.",
            });
          },
        });
      };
    </script>
  </body>
</html>
