<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>LIVE STORE</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
    />
    <!-- Custom Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />

    <!-- StyleSheet-->
    <link
      href="https://fonts.googleapis.com/css2?family=Bree+Serif&family=IM+Fell+DW+Pica&family=Tilt+Prism&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="./View/assets/stylesheet/customCss.css"
    />

    <!-- SweetAlert-->
    <link
      href="https://cdn.jsdelivr.net/npm/@sweetalert2/theme-dark@4/dark.css"
      rel="stylesheet"
    />
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.js"></script>

    <!-- JQuery-->
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>

    <!--Custom Js-->
    <!--<script src="./View/assets/js/main.js"></script>-->
    <script src="./View/assets/js/Auth/register.js"></script>
    <script src="./View/assets/js/Auth/forgotPass.js"></script>
    <script src="./View/assets/js/Auth/login.js"></script>
  </head>

  <body class="h-screen w-screen bg-neutral-200 overflow-hidden">
    <!-- Container  -->
    <main class="h-screen w-screen bg-neutral-800" style="display: flex">
      <!-- Sidenav -->
      <nav
        class="flex flex-col justify-between items-center bg-neutral-900 w-16 h-full p-2 pb-3"
      >
        <div class="w-full">
          <img
            src="https://cdn-icons-png.flaticon.com/512/10490/10490234.png"
            alt=""
          />
        </div>
        <footer
          class="w-full justify-center flex cursor-pointer"
          onclick="showLoginModal()"
        >
          <i
            class="fa-regular fa-circle-user text-white hover:text-slate-300"
            style="font-size: 34px"
          ></i>
        </footer>
      </nav>
      <!-- Main Section -->
      <section class="w-full">
        <header class="flex justify-between w-11/12 px-4 py-2 fixed">
          <label
            for=""
            style="font-family: 'Tilt Prism', cursive"
            class="text-white text-2xl"
            >LIVE STORE</label
          >
        </header>
        <!-- Search box-->
        <div class="p-4 pt-16 flex justify-center">
          <div
            class="w-3/6 h-14 rounded-3xl pl-4"
            style="
              box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.6), inset 1px 1px 1px gray;
            "
          >
            <input
              type=""
              name=""
              value=""
              placeholder="search.."
              class="w-11/12 bg-transparent outline-0 h-full text-white text-lg"
              spellcheck="flase"
            />
            <i
              class="fa-solid fa-search text-slate-300 text-lg m-1 hover:text-white cursor-pointer"
            ></i>
          </div>
        </div>
        <!-- Filter Tags -->
        <div
          class="filter p-4 pt-1 flex justify-center text-slate-300"
          style="overflow-y: auto; width: 95vw"
        ></div>
        <!-- Apps Container -->
        <div
          class="flex-1 px-10 flex-1 w-full"
          style="overflow-y: auto; width: 98vw; height: 560px"
        >
          <!--Most Rated..-->
          <div class="w-full flex flex-col">
            <div class="app-bar-title w-full pb-3">
              <span class="separator"></span>
            </div>
            <div id="mostRated" class="flex w-full overflow-x-scroll"></div>
          </div>
          <!--other-->
          <div class="w-full">
            <div class="app-bar-title w-full">
              <h2>Game</h2>
              <span class="separator"></span>
            </div>
            <div id="Games" class="flex w-full overflow-x-scroll"></div>
          </div>
        </div>
      </section>
    </main>
    <script>
      const showApp = (app) => {
        alert("wrpo");
      };
      $(document).ready(() => {
        const LoadApps = () => {
          //Filter Tags
          let tags = [
            "android",
            "ios",
            "Web",
            "React",
            "React Native",
            "C",
            "C++",
            "Java",
            "Mern",
            "Marn",
            "UI/UX",
            "Lib",
            "API",
            "Shell Script",
          ];
          var $activeDiv = `<div
                  style="
                    box-shadow: 1px 1px rgba(0, 0, 0, 0.3);
                    background: rgba(0, 0, 0, 0.5);
                    min-width: max-content;
                    max-height: max-content;
                  "
                  class="px-3 py-1 rounded-full m-1 flex justify-center items-center"
                >
                  <p>All</p>
                </div>`;
          $(".filter").append($activeDiv);
          tags.forEach((tag) => {
            var $tagDiv = `<div
                      style="
                          box-shadow: 1px 1px rgba(0, 0, 0, 0.3);
                          background: rgba(255, 255, 255, 0.05);
                          min-width: max-content;
                          max-height: max-content;
                      "
                      class="px-3 py-1 rounded-full m-1 flex justify-center items-center"
                  >
                      <p>${tag}</p>
                  </div>`;
            $(".filter").append($tagDiv);
          });

          //load App
          var appData = {
            mostRated: [
              {
                id: 101,
                Thumbnail: "https://wallpapercave.com/wp/wp3144352.jpg",
                appName: "Free Fire",
                DownloadLink: "",
                rating: "5.0",
              },
              {
                id: 102,
                Thumbnail:
                  "https://e1.pxfuel.com/desktop-wallpaper/979/291/desktop-wallpaper-landscape-castle-clash.jpg",
                appName: "Clash of Empire",
                DownloadLink: "",
                rating: "4.5",
              },
              {
                id: 103,
                Thumbnail:
                  "https://wallpaperbat.com/img/221640-pure-farming-2018-ps4-review.jpg",
                appName: "Farming Simulation - 2023",
                DownloadLink: "",
                rating: "5.0",
              },
              {
                id: 104,
                Thumbnail:
                  "https://e0.pxfuel.com/wallpapers/6/701/desktop-wallpaper-blog-angry-bird-2.jpg",
                appName: "Angry Birds",
                DownloadLink: "",
                rating: "3.0",
              },
            ],
            Games: [
              {
                id: 105,
                Thumbnail:
                  "https://cdn6.aptoide.com/imgs/a/0/7/a07457f9d059715922bd0baa696456d4_icon.png",
                appName: "Free Fire",
                DownloadLink: "",
                rating: "2.0",
              },
              {
                id: 106,
                Thumbnail:
                  "https://i.pinimg.com/736x/e5/c1/59/e5c159ebbf010fd33f396d5759ef17ba.jpg",
                appName: "Free Fire",
                DownloadLink: "",
                rating: "5.0",
              },
            ],
          };

          appData.mostRated.forEach((app) => {
            var $appDiv = `
                <div
                      style="min-width: 460px"
                      class="TopDownload overflow-hidden bg-white border border-neutral-200 rounded-lg shadow dark:bg-neutral-800 dark:border-neutral-700 h-72"
                      onclick="showApp('${app}')"
                      >
                      <img
                        class="rounded-lg h-full w-full"
                        src=${app.Thumbnail}
                        alt=""
                      />
                      <!--Bottom Section-->
                      <div
                        class="flex justify-between p-2 w-full h-20 items-center"
                        style="
                          position: relative;
                          background: linear-gradient(
                            rgba(0, 0, 0, 0.2),
                            rgba(0, 0, 0, 0.8),
                            rgba(0, 0, 0, 1)
                          );
                          bottom: 25%;
                          backdrop-filter: blur(20);
                        "
                      >
                        <div>
                          <label for="" class="text-white text-lg">${app.appName}</label>
                          <div class="flex items-center mt-2 mb-5">
                            <svg
                              class="w-4 h-4 text-yellow-300 mr-1"
                              aria-hidden="true"
                              xmlns="http://www.w3.org/2000/svg"
                              fill="currentColor"
                              viewBox="0 0 22 20"
                            >
                              <path
                                d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"
                              />
                            </svg>
                            <svg
                              class="w-4 h-4 text-yellow-300 mr-1"
                              aria-hidden="true"
                              xmlns="http://www.w3.org/2000/svg"
                              fill="currentColor"
                              viewBox="0 0 22 20"
                            >
                              <path
                                d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"
                              />
                            </svg>
                            <svg
                              class="w-4 h-4 text-yellow-300 mr-1"
                              aria-hidden="true"
                              xmlns="http://www.w3.org/2000/svg"
                              fill="currentColor"
                              viewBox="0 0 22 20"
                            >
                              <path
                                d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"
                              />
                            </svg>
                            <svg
                              class="w-4 h-4 text-yellow-300 mr-1"
                              aria-hidden="true"
                              xmlns="http://www.w3.org/2000/svg"
                              fill="currentColor"
                              viewBox="0 0 22 20"
                            >
                              <path
                                d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"
                              />ś
                            </svg>
                            <svg
                              class="w-4 h-4 text-gray-200 dark:text-gray-600"
                              aria-hidden="true"
                              xmlns="http://www.w3.org/2000/svg"
                              fill="currentColor"
                              viewBox="0 0 22 20"
                            >
                              <path
                                d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"
                              />
                            </svg>
                            <span
                              class="bg-blue-100 text-blue-800 text-xs font-semibold mr-2 px-2.5 py-0.5 rounded dark:bg-blue-200 dark:text-blue-800 ml-3"
                              >${app.rating}</span
                            >
                          </div>
                        </div>
                        <a
                          href="${app.DownloadLink}"
                          class="px-3 bg-blue-500 h-10 rounded-lg text-white flex justify-center items-center"
                          >Download<i
                            class="fa fa-download ml-2"
                            aria-hidden="true"
                          ></i>
                        </a>
                      </div>
                    </div>
                `;
            $("#mostRated").append($appDiv);
          });

          //Other
          var app = `<div
                  class="app-container text-slate-100 p-2 mx-1 pt-3 flex flex-col justify-center items-center w-30 cursor-pointer"
                >
                  <img
                    class="w-20 border border-neutral-200 rounded-2xl shadow dark:bg-neutral-800 dark:border-neutral-700"
                    src=${appData.Games[1].Thumbnail}
                    alt=""
                  />
                  <p class="text-center w-24 flex-wrap h-12 pt-2">${appData.Games[1].appName}</p>
                </div>`;
          $("#Games").append(app);
          for (let i = 0; i < 20; i++) {
            var app = `<div
                class="app-container text-slate-100 p-2 mx-1 pt-3 flex flex-col justify-center items-center w-30"
              >
                <img
                  class="w-20 border border-neutral-200 rounded-2xl shadow dark:bg-neutral-800 dark:border-neutral-700"
                  src=${appData.Games[0].Thumbnail}
                  alt=""
                />
                <p class="text-center w-24 flex-wrap h-12 pt-2">${appData.Games[0].appName}</p>
              </div>`;
            $("#Games").append(app);
          }
        };
        LoadApps();
      });
    </script>
  </body>
</html>
